<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Editar Professor</strong></div>
        <div class="panel-body">
            <span ng-bind="position"></span>
            <form name="professor_form" role="form" ng-submit="submitForm()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text"
                             class="form-control"
                             id="name"
                             required
                             ng-minlength="4"
                             ng-model="professor.name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"
                             class="form-control"
                             id="email"
                             required
                             ng-model="professor.email">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="password">Senha</label>
                          <input type="password"
                           class="form-control"
                           id="password"
                           ng-model="professor.password">
                      </div>
                    </div>
                </div>
                <br>
                <button type="submit"
                        class="btn btn-success"
                        data-ng-disabled="!canSubmit()"
                        >Editar</button>
                <button class="btn btn-default"
                        data-ng-disabled="!canRevert()"
                        data-ng-click="revert()"
                        >Limpar</button>
            </form>
        </div>
    </section>
</div>
