<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Professores</strong></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in viewData">
                          <td>{{$index + 1}}</td>
                          <td>{{data.name}}</td>
                          <td>{{data.email}}</td>
                          <td>
                              <a data-ng-if="auth.user.role == 'admin'"
                                 href="#/professors/edit/{{data._id}}" class="btn btn-w-md btn-gap-v btn-warning">Editar</a>
                              <a data-ng-if="auth.user.role == 'admin'"
                                 ng-click="deleteById('professors', viewData, $index, data._id)"
                                 class="btn btn-w-md btn-gap-v btn-danger">Excluir</a>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
