<div class="page" data-ng-controller="CreateDealerCtrl">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Criar Marcação</strong></div>
        <div class="panel-body">
            <span ng-bind="position"></span>
            <form name="dealer_form" role="form" ng-submit="submitForm()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text"
                             class="form-control"
                             id="name"
                             required
                             ng-minlength="4"
                             ng-model="dealer.name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"
                             class="form-control"
                             id="email"
                             required
                             ng-model="dealer.email">
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password"
                             class="form-control"
                             id="password"
                             required
                             ng-model="dealer.password">
                        </div>
                        <div class="form-group">
                            <label for="telephone">Telefone</label>
                            <input type="tel"
                            class="form-control"
                            id="telephone"
                            required
                            ng-model="dealer.telephones">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Lugar</label><br>
                            <span class="ui-select">
                                <select
                                id="address"
                                required
                                ng-model="dealer.place_id">
                                    <option ng-repeat="data in selectData" value="{{data._id}}">{{data.name}}</option>
                                </select>
                            </span>
                        </div>
                        <div class="description">
                            <label for="description">Descrição</label>
                            <textarea class="form-control"
                                      rows="3"
                                      ng-model="dealer.description"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit"
                        class="btn btn-success"
                        data-ng-disabled="!canSubmit()"
                        >Sumbit</button>
                <button class="btn btn-default"
                        data-ng-disabled="!canRevert()"
                        data-ng-click="revert()"
                        >Revert Changes</button>
            </form>
        </div>
    </section>
</div>
