<div class="page-signup">
    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/" data-ng-bind="main.brand"></a>
            </section>
        </div>
    </div>

    <div class="signup-body">
        <div class="container">
            <div class="form-container">

                <section>
                    <form class="form-horizontal" ng-submit="submit(user)">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input  type="text"
                                        class="form-control"
                                        ng-model="user.name"
                                        placeholder="Nome"
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       ng-model="user.email"
                                       placeholder="Email"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       ng-model="user.password"
                                       placeholder="Senha"
                                       >
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- <p class="text-muted text-small">By clicking on Sign up, you agree to <a href="javascript">terms & conditions</a> and <a href="javascript:;">privacy policy</a></p> -->
                            <div class="divider"></div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Registrar-se</a>
                        </div>

                    </form>
                </section>

                <section>
                    <p class="text-center text-muted">Já tem uma conta? <a href="#/login">Entre Agora</a></p>
                </section>

            </div>
        </div>
    </div>
</div>
