<div class="page page-tasks">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Lista de Exercícios '{{quizz.name}}'</strong></div>
        <div class="panel-body">
        <section>
            <!-- <div class="divider"></div> -->
            <tabset type="pills" justified="true" class="ui-tab">
                <tab ng-repeat="question in quizz.questions" heading="Questão {{ $index + 1 }}" active="question.active" select="setIndex($index)">
                    <div class="" ng-bind-html="question.description" style="padding: 20px 10px 0px 10px">
                    </div>
                    <hr>
                    <ul class="task-list list-unstyled">
                        <li data-ng-repeat="alternative in question.alternatives">
                            <span class="view">
                                <input type="radio"
                                       name="question{{$parent.$index}}"
                                       data-ng-model="answers[$parent.$index]"
                                       data-ng-value="$index">
                                <label>{{ indexChar($index) + ') ' + alternative.description}}</label>
                            </span>
                        </li>
                    </ul>
                </tab>
            </tabset>
        </section>

        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" ng-class="{ disabled: index === 0 }" role="button" ng-click="prev()">&lsaquo; Anterior</a>
            <a class="btn btn-primary" role="button" ng-click="verify(index)">Verificar</a>
            <a class="btn btn-default" ng-class="{ disabled: index === quizz.questions.length-1 }" role="button" ng-click="next()">Próxima &rsaquo;</a>
        </div>

        <footer class="task-footer">
            <ul class="list-inline clearfix">
                <li class="first-item">
                    <form data-ng-submit="submitForm()">
                        <!-- <button type="submit"
                                class="btn btn-success"
                                data-ng-disabled="!canSubmit()"
                                >Submeter</button> -->
                    </form>
                </li>
                <li class="text-center">
                    <span>
                        <strong>{{remainingCount}}</strong>
                        <span class="text-muted"
                              data-ng-pluralize count="remainingCount"
                              when="{one: 'item left', other: 'items left'}"></span>
                    </span>
                </li>
                <li class="text-right">
                    <span class="clear-completed"
                          data-ng-click="clearCompleted()"
                          data-ng-show="remainingCount < tasks.length">Clear completed ({{tasks.length - remainingCount}})</span>
                </li>
            </ul>
        </footer>

        </div>
    </section>

    <div class="callout callout-info">
        <p>Intruções:</p>
        <p> - Selecione uma alternativa e aperte no botão "Verificar".</p>
        <!-- <p>Obs:</p> -->
        <!-- <p> - Quando você responder todas questões o botão de submeter será liberado.</p> -->
    </div>
</div>
