<ul id="nav"
    data-ng-controller="NavCtrl"
    data-collapse-nav
    data-slim-scroll
    data-highlight-active>

		<li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
		<li><a href="#/students/edit/{{auth.user._id}}"> <i class="fa fa-pencil"></i><span data-i18n="Editar Perfil"></span> </a></li>
		<li>
				<a href="#/quizzes"><i class="fa fa-pencil"></i><span data-i18n="Exercícios"></span> </a>
				<ul class="sub-nav">
						<li><a href="#/quizzes"><i class="fa fa-caret-right"></i><span data-i18n="Ver"></span></a></li>
				</ul>
		</li>
		<!-- <li>
				<a href="#/students"><i class="fa fa-pencil"></i><span data-i18n="Estudantes"></span> </a>
				<ul class="sub-nav">
						<li><a href="#/students"><i class="fa fa-caret-right"></i><span data-i18n="Ver"></span></a></li>
				</ul>
		</li>
		<li>
				<a href="#/professors"><i class="fa fa-pencil"></i><span data-i18n="Professores"></span> </a>
				<ul class="sub-nav">
						<li><a href="#/professors"><i class="fa fa-caret-right"></i><span data-i18n="Ver"></span></a></li>
				</ul>
		</li> -->
</ul>
